[user]
	name = Leonard Excoffier
	email = 48970393+excoffierleonard@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
