[user]
	name = Leonard Excoffier
	email = 48970393+excoffierleonard@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[merge]
        ff = false
